# **Python Basics**


## **1. Python Syntax**
---
### **What is Syntax?**
- Syntax refers to the set of rules that defines how Python code is written and structured.
- Python emphasizes readability and uses indentation instead of curly braces (`{}`) to define code

### **Key Syntax Rules in Python**
1. **Case Sensitivity**: Python is case-sensitive.

In [8]:
Name = "Alice"
name = "Bob"
print(Name)  # Alice
print(name)  # Bobblocks.

Alice
Bob

2. **Statements End Without Semicolon**: No need for a semicolon to end a statement (optional).

In [9]:
print("Hello, World!")

Hello, World!

3. **Comments**:
   - **Single-line**: Use `#` to add comments.
   - **Multi-line**: Use triple quotes (`'''` or `"""`).

In [11]:
# This is a single-line comment.

"""
This is a
multi-line comment.
"""

'\nThis is a\nmulti-line comment.\n'

---
## **2. Variables and Assignment**

### **What are Variables?**
- Variables are containers for storing data values.
- No need to declare the type explicitly; Python automatically infers it.

### **Rules for Naming Variables**
1. Must start with a letter or underscore (`_`).
2. Cannot start with a number.
3. Can only contain alphanumeric characters and underscores.
4. Case-sensitive.
### **Examples of Variable Declaration**

In [1]:
x = 10       # Integer
y = 3.14     # Float
name = "John"  # String
print(type(x))
print(type(y))
print(type(name))

<class 'int'>
<class 'float'>
<class 'str'>

### **Dynamic Typing**
Variables can change type during execution:

In [14]:
x = 10       # Initially an integer
print(type(x))
x = "Python" # Now a string
print(type(x))

<class 'int'>
<class 'str'>

---
## **3. Python Data Types**

Python has several built-in data types that can be classified as:

### **Numeric Types**
- **Integer**: Whole numbers, e.g., `5`, `-2`
- **Float**: Decimal numbers, e.g., `3.14`, `-0.5`

### **Text Type**
- **String**: A sequence of characters enclosed in quotes (`" "` or `' '`).

In [16]:
text = "Hello, World!"
print(text)

Hello, World!

### **Sequence Types**
1. **List**: Ordered, mutable, and allows duplicate items.

In [17]:
my_list = [1, 2, 3, "apple"]
print(my_list)
print(my_list[0])  # Accessing the first item (1)

[1, 2, 3, 'apple']
1

### **Common List Operations**

| **Operation**      | **Syntax/Example**                           | **Description**                       |
|---------------------|----------------------------------------------|---------------------------------------|
| **Access Elements**| `my_list[0]`                                 | Access element by index.              |
| **Add Elements**   | `my_list.append(4)`                          | Add element at the end.               |
|                    | `my_list.insert(2, "new")`                   | Add element at specific index.        |
| **Update Elements**| `my_list[1] = "updated_value"`               | Change value at index 1.              |
| **Delete Elements**| `del my_list[0]`                             | Delete element at index 0.            |
|                    | `my_list.pop(2)`                             | Remove and return element at index 2. |
|                    | `my_list.remove("apple")`                    | Remove first occurrence of "apple".   |
| **Check Membership**| `"apple" in my_list`                        | Check if "apple" exists in the list.  |

In [2]:
my_list = [1, 2, 3, "apple"]
print(my_list)
print(my_list[0])       # Access: 1
my_list.append(4)       # Add: [1, 2, 3, "apple", 4]
print(my_list)
my_list.insert(2, "new")# Add at index: [1, 2, "new", 3, "apple", 4]
print(my_list)
my_list[1] = "updated"  # Update: [1, "updated", "new", 3, "apple", 4]
print(my_list)
my_list.remove("apple") # Remove: [1, "updated", "new", 3, 4]
print(my_list)

[1, 2, 3, 'apple']
1
[1, 2, 3, 'apple', 4]
[1, 2, 'new', 3, 'apple', 4]
[1, 'updated', 'new', 3, 'apple', 4]
[1, 'updated', 'new', 3, 4]

2. **Tuple**: Ordered, immutable, and allows duplicates.

In [18]:
my_tuple = (1, 2, 3, "apple")
print(my_tuple)
print(my_tuple[0])

(1, 2, 3, 'apple')
1

### **Common Tuple Operations**
| **Operation**      | **Syntax/Example**              | **Description**                |
|---------------------|---------------------------------|--------------------------------|
| **Access Elements**| `my_tuple[1]`                  | Access element by index.       |
| **Count Elements** | `my_tuple.count("apple")`      | Count occurrences of an item.  |
| **Index of Item**  | `my_tuple.index("apple")`      | Get index of an item.          |

> **Note**: Tuples cannot be modified (no add, edit, or delete operations).

In [33]:
my_tuple = (1, 2, 3, "apple", 2)
print(my_tuple[1])         # Access: 2
print(my_tuple.count(2))   # Count: 2
print(my_tuple.index("apple")) # Index: 3

2
2
3

3. **Range**: Sequence of numbers.

In [3]:
r = range(5)  # Generates numbers from 0 to 4
print(r)
for num in r:
    print(num)

range(0, 5)
0
1
2
3
4

### **Mapping Type**
- **Dictionary**: Unordered, mutable collection of key-value pairs.

In [21]:
my_dict = {"name": "Alice", "age": 25}
print(my_dict)
print(my_dict["name"])  # Access the value of the "name" key

{'name': 'Alice', 'age': 25}
Alice

### **Common Dictionary Operations**

| **Operation**        | **Syntax/Example**                         | **Description**                          |
|-----------------------|--------------------------------------------|------------------------------------------|
| **Access Value**      | `my_dict["key"]`                          | Access value by key.                     |
| **Add/Update Key-Value** | `my_dict["new_key"] = "new_value"`      | Add or update a key-value pair.          |
| **Delete Key-Value**  | `del my_dict["key"]`                      | Delete a key-value pair.                 |
|                      | `my_dict.pop("key")`                      | Remove and return value of key.          |
| **Check Membership**  | `"key" in my_dict`                        | Check if key exists in dictionary.       |
| **Get All Keys**      | `my_dict.keys()`                          | Get all keys in the dictionary.          |
| **Get All Values**    | `my_dict.values()`                        | Get all values in the dictionary.        |
| **Iterate Dictionary**| `for key, value in my_dict.items()`       | Iterate over key-value pairs.            |

In [37]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
print(my_dict)
print(my_dict["name"])          # Access: Alice
my_dict["country"] = "USA"      # Add: {"name": "Alice", ... "country": "USA"}
print(my_dict)
my_dict["age"] = 30             # Update: {"name": "Alice", "age": 30, ...}
print(my_dict)
del my_dict["city"]             # Delete: {"name": "Alice", "age": 30, "country": "USA"}
for key, value in my_dict.items():
    print(key, value)           # Iterate: Outputs key-value pairs

{'name': 'Alice', 'age': 25, 'city': 'New York'}
Alice
{'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}
{'name': 'Alice', 'age': 30, 'city': 'New York', 'country': 'USA'}
name Alice
age 30
country USA

### **Comparison Between List, Tuple, and Dictionary**

| Feature                  | List                  | Tuple                 | Dictionary                |
|--------------------------|-----------------------|-----------------------|---------------------------|
| **Order Maintained**     | ✅ Yes               | ✅ Yes               | ❌ No                    |
| **Mutable**              | ✅ Yes               | ❌ No                | ✅ Yes                   |
| **Duplicates Allowed**   | ✅ Yes               | ✅ Yes               | ❌ Keys must be unique   |
| **Access by Index**      | ✅ Yes               | ✅ Yes               | ❌ Access by key only    |
| **Example Syntax**       | `[1, 2, 3]`          | `(1, 2, 3)`          | `{"key": "value"}`       |

### **Boolean Type**
- **Boolean**: Represents `True` or `False`.

In [23]:
is_active = True
if is_active:
    print("Active")

Active

---
## **4. Type Conversion**

Python allows converting data types explicitly using type conversion functions:

### **Examples**
1. **Integer to String**

In [24]:
num = 10
print(num)
print(type(num))
num_str = str(num)  # Converts 10 to "10"
print(num_str)
print(type(num_str))

10
<class 'int'>
10
<class 'str'>

2. **String to Integer**

In [25]:
age = "25"
print(age)
print(type(age))
age_int = int(age)  # Converts "25" to 25
print(age_int)
print(type(age_int))

25
<class 'str'>
25
<class 'int'>

3. **String to Float**

In [26]:
height = "5.8"
print(height)
print(type(height))
height_float = float(height)  # Converts "5.8" to 5.8
print(height_float)
print(type(height_float))

5.8
<class 'str'>
5.8
<class 'float'>

4. **List to Tuple**

In [28]:
my_list = [1, 2, 3]
print(type(my_list))
my_tuple = tuple(my_list)
print(type(my_tuple))

<class 'list'>
<class 'tuple'>

---
## **5. Operators in Python**

Python provides several operators for performing operations on variables and values.

---
### **Arithmetic Operators**
| Operator | Description         | Example       |
|----------|---------------------|---------------|
| `+`      | Addition            | `2 + 3 = 5`  |
| `-`      | Subtraction         | `5 - 3 = 2`  |
| `*`      | Multiplication      | `4 * 2 = 8`  |
| `/`      | Division            | `10 / 2 = 5` |
| `**`     | Exponentiation      | `2 ** 3 = 8` |
| `//`     | Floor Division      | `5 // 2 = 2` |
| `%`      | Modulus (remainder) | `5 % 2 = 1`  |

---
### **Comparison Operators**
| Operator | Description            | Example       |
|----------|------------------------|---------------|
| `==`     | Equal to               | `x == y`      |
| `!=`     | Not equal to           | `x != y`      |
| `>`      | Greater than           | `x > y`       |
| `<`      | Less than              | `x < y`       |
| `>=`     | Greater than or equal  | `x >= y`      |
| `<=`     | Less than or equal     | `x <= y`      |

---
### **Logical Operators**
| Operator | Description            | Example              |
|----------|------------------------|----------------------|
| `and`    | Logical AND            | `x > 5 and y < 10`   |
| `or`     | Logical OR             | `x > 5 or y < 10`    |
| `not`    | Logical NOT            | `not(x > 5)`         |

---
### **Assignment Operators**
| Operator | Description           | Example              |
|----------|-----------------------|----------------------|
| `=`      | Assign value          | `x = 10`            |
| `+=`     | Add and assign         | `x += 5` (x = x + 5)|
| `-=`     | Subtract and assign    | `x -= 5` (x = x - 5)|

---
## **6. Input and Output**

### **Input**
- Use `input()` to get user input as a string.

In [1]:
name = input("What is your name? ")
print("Your name is: ", name)

What is your name?  test

Your name is:  test

### **Output**
- Use `print()` to display data.

In [31]:
print("Hello, World!")
print(f"Your name is {name}")

Hello, World!
Your name is sabin

---
# Assignment 1: 
## Write a program to calculate the area of a circle

<details>
    <summary>Solution</summary>

```python    
# Import the math module for π (pi)
import math

# Step 1: Get the radius from the user
radius = float(input("Enter the radius of the circle: "))
# pi = 3.14

# Step 2: Calculate the area
area = math.pi * (radius ** 2)
# area = pi * (radius ** 2)
# Step 3: Display the result
print(f"The area of the circle with radius {radius} is: {area:.2f}")
```
</details>